@import "tailwindcss";

@theme {
    --color-midnight-violet: #190029;
    --color-hot-fuschia: #ff2368;
    --color-hyper-magenta: #b540fd;
    --color-cool-horizon: #66a3ff;
    --color-electric-green: #6dff53;
    --color-neon-ice: #48f856;
    --color-canary-yellow: #fff767;
    --color-platinum: #f1f1f1;
    --font-titan-one: 'Titan One', cursive;
}

@layer base {
    body {
        background-color: var(--color-midnight-violet);
        color: var(--color-platinum);
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}
